*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore IDEA project files
.idea
.iml

# ignore gradle build files
.gradle

# ignore gradle build directory
build/

local.properties

*.iml